.main-layout
  .el-dialog__header
    text-align left
.round i
  background url('../assets/images/svg/radio-default.svg') no-repeat
.controlInfo .is-checked .round i
  background url('../assets/images/svg/radio-active.svg') no-repeat
.nowrap
  white-space nowrap
  text-overflow ellipsis
  overflow hidden
.controlInfo
  padding-top 20px
  .round
    position relative
    top -12px
    left 15px
    margin-left 10px
.data_style
  display: inline-block;
  width: 120px;
  height: 41px;
  text-align: left;
  padding: 0 25px;
.f_left
  text-align left
.f_center
  text-align center
.f_right
  text-align right
.f_left, .f_center, .f_right
  h5
    display inline-block
.center_num
  display: inline-block;
  font-weight 600
  padding: 37% 0 0 47%;
#consoles_device_details_list
  li
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
   